<form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
  </p>
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i = index">
      <div [formGroupName]="i">
        {{ i }}
        skill name:
        <input type="text" formControlName="skill" />
        exp:
        <input type="text" formControlName="exp" />
        <button (click)="removeSkil(i)">Remove</button>
      </div>
    </div>
  </div>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
<p>
  <button type="button" (click)="addSkill()">Add</button>
</p>

{{ this.skillForm.value | json }}
